
<style>
  #icon-menu {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: var(--top-bar-height);
    width: 60px;
  }

  #left-end-button-container > *,
  #icon-menu > button {
    flex-grow: 1;
    min-width: 0;
    padding: 0;
    height: 60px;
    width: 60px;
  }

  .vertical #left-end-button-container,
  .vertical #icon-menu {
    flex-direction: column;
  }

  #left-frame.vertical {
    flex-direction: column;
  }

  #left-frame {
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .vertical #left-end-button-container > *,
  .vertical #icon-menu > button {
    padding: 10px 0;
  }

  #container {
    align-items: stretch;
    color: var(--primary-text-color);
    background: var(--primary-background-color);
    display: flex;
    height: 100%;
    width: 100%;
  }

  #right-frame {
    display: flex;
    height: 100%;
    width: 100%;
  }

  /* make the draggable divider a bit narrower */
  ::ng-deep .as-split-gutter {
    flex-basis: 5px !important;
    background: var(--gutter-color) !important;
  }

  #left-end-button-container {
    display: flex;
    flex-direction: column;
  }

  #left-end-button-container > * {
    flex-grow: 1;
  }

  .vertical #notifications {
    align-items: baseline;
    margin-bottom: 40px;
    margin-left: -25px;
    transform: rotate(-90deg);
    width: 100px;
  }

  #notifications {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #graph-icon {
    height: 100%;
    padding: 1px 4px 5px 4px;
    filter: invert(0.85);
  }

  #note-list {
    flex-basis: 0;
    flex-grow: 1;
    overflow-y: scroll;
  }

  #left-frame-start {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
  }

  .window-container {
    flex-grow: 1;
    position: relative;
    min-height: 0;
    min-width: 0;
    height: 100%;
    width: 100%;
  }

  .window-container .overlay {
    background-color: var(--primary-background-color);
    opacity: 0.2;
    position: absolute;
    pointer-events: none;
    height: 100%;
    width: 100%;
    z-index: 100;
  }

  #save-status-indicator {
    align-items: center;
    display: flex;
    justify-content: space-around;
    transition: color 0.5s ease;
  }

  #save-status-indicator.unsaved {
    color: var(--save-status-indicator-unsaved-changes-color);
  }

  #save-status-indicator.saving {
    color: var(--save-status-indicator-saving-color);
  }

  #save-status-indicator.saved {
    color: var(--save-status-indicator-everything-saved-color);
  }

  #left-icons {
    background-color: var(--icons-menu-background-color);
    color: var(--icons-menu-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #due-fc-count {
    position: absolute;
    bottom: 0;
    right: 10px;
  }
</style>

<div id="container">

  <div id="left-icons">
    <div id="left-frame-start">
      <div id="icon-menu">
        <button (click)="toggleSidebar()" mat-button matTooltip="toggle note list">
          <mat-icon>list</mat-icon>
        </button>
        <button (click)="openNewNoteDialog()" mat-button matTooltip="new note (ctrl + k)">
          <mat-icon>add</mat-icon>
        </button>
        <button (click)="openSearchDialog()" mat-button matTooltip="search notes (ctrl + shift + f)">
          <mat-icon>search</mat-icon>
        </button>
        <button (click)="openLearnView($event)" mat-button matTooltip="flashcards">
          <mat-icon class="material-icons-outlined">school</mat-icon>
          <span *ngIf="(flashcardService.numDueFlashcards | async) > 0" id="due-fc-count">
            {{flashcardService.numDueFlashcards | async}}
          </span>
        </button>
        <button (click)="openGraphView($event)" mat-button matTooltip="graph">
          <mat-icon>
            <img [class.dark-theme]="theme === 'dark'"
                 alt="graph"
                 id="graph-icon"
                 src="./assets/img/graph-icon.png">
          </mat-icon>
        </button>
        <button *ngIf="!sidebarCollapsed"
                [matMenuTriggerFor]="sortMenu"
                id="sort-button"
                mat-button
                matTooltip="sort notes">
          <mat-icon>sort</mat-icon>
          <mat-menu #sortMenu="matMenu">
            <button (click)="doSort(0)"
                    [class.mat-menu-item-highlighted]="currentSortDirection===0"
                    mat-menu-item>
              Modified (newest first)
            </button>
            <button (click)="doSort(1)"
                    [class.mat-menu-item-highlighted]="currentSortDirection===1"
                    mat-menu-item>
              Modified (oldest first)
            </button>
            <button (click)="doSort(2)"
                    [class.mat-menu-item-highlighted]="currentSortDirection===2"
                    mat-menu-item>
              Alphabetical
            </button>
            <button (click)="doSort(3)"
                    [class.mat-menu-item-highlighted]="currentSortDirection===3"
                    mat-menu-item>
              Alphabetical (reversed)
            </button>
          </mat-menu>
        </button>
      </div>
    </div>
    <div id="left-end-button-container">
      <span [class.saved]="icon === 'saved'"
            [class.saving]="icon === 'saving'"
            [class.unsaved]="icon === 'unsaved'"
            id="save-status-indicator">
                <mat-icon *ngIf="icon == 'saved'" matTooltip="all changed are saved">check</mat-icon>
                <mat-icon *ngIf="icon == 'unsaved'" matTooltip="unsaved changes">clear</mat-icon>
              </span>
      <button (click)="logout()" mat-button matTooltip="logout">
        <mat-icon>logout</mat-icon>
      </button>
      <button (click)="openSettings()" mat-button matTooltip="settings">
        <mat-icon class="material-icons-outlined">settings</mat-icon>
      </button>
    </div>
  </div>

  <as-split #split="asSplit" direction="horizontal" unit="pixel">
    <as-split-area #sidebar
                   #sidebarArea="asSplitArea"
                   [@openClose]="{value: sidebarCollapsed ? 'closed' : 'open', params: {curWidth: unCollapsedSidebarWidth}}"
                   [size]="250">
      <div [class.vertical]="sidebarCollapsed" id="left-frame">
        <app-filelist #filelist [hidden]="sidebarCollapsed" [sortDirection]="currentSortDirection" id="note-list">
        </app-filelist>

        <div id="left-frame-end">
          <div id="notifications">
            <div *ngFor="let statusUpdate of activeStatusUpdates">
              {{ statusUpdate.message }}
            </div>
          </div>
        </div>
      </div>
    </as-split-area>

    <as-split-area size="*">
      <div id="right-frame">
        <div class="window-container"
             (focusin)="onWindowFocus(subview)"
             *ngFor="let subview of subviewManager.subviews | async; trackBy: trackByFn; let i = index">
          <span *ngIf="i !== subviewManager.activeSubviewIdx" class="overlay"></span>
          <app-editor *ngIf="getViewType(subview) === viewType.NOTE" noteId="{{subview}}"></app-editor>
          <app-graph *ngIf="getViewType(subview) === viewType.GRAPH"></app-graph>
          <app-study *ngIf="getViewType(subview) === viewType.FLASHCARDS"></app-study>
        </div>
      </div>
    </as-split-area>
  </as-split>
</div>
