
<style>
  :host {
    background: var(--primary-background-color);
  }

  #codemirror-container {
    height: calc(100% - var(--top-bar-height));
    /*max-width: 700px;*/
    width: 100%;
    margin: 10px 10px 10px 4px;
  }

  #codemirror {
    height: 100%;
  }

  #markdown-renderer {
    overflow: auto;
    padding: 10px;
  }

  #top-bar {
    height: var(--top-bar-height);
    background: var(--low-contrast-background-color);
    border-bottom: 1px solid var(--gutter-color);
  }

  #container {
    display: flex;
    height: calc(100% - var(--top-bar-height));
  }

  .space-evenly {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }

  #codemirror-container.split-state {
    border-right: 1px solid #bdbdbd;
    width: 50%;
  }

  #top-bar {
    display: flex;
    /* TODO: doesn't actually stick when it scrolls out of #right-frame */
    position: sticky;
    top: 0;
    z-index: 10;
  }

  #top-bar > button {
    height: 100%;
    flex-grow: 0;
  }

  .title {
    background-color: inherit;
    border: 0;
    flex-grow: 1;
    margin: -5px 0 0 10px;
    min-width: 0;
  }

  #title-container {
    display: flex;
    flex-grow: 1;
  }

  .title-text {
    font-size: 24px;
    text-overflow: ellipsis;
  }
</style>

<div id="top-bar">
  <mat-form-field class="title" appearance="none">
    <div id="title-container">
      <input class="title-text"
             type="text"
             matInput
             appAlreadyExistingNote
             [matTooltip]="selectedNote?.title"
             [alreadyExistingTitle]="selectedNote?.title"
             [errorStateMatcher]="matcher"
             [(ngModel)]="noteTitle"
             #titleRenameInput="ngModel"
             autocomplete="off"
             [value]="selectedNote?.title"
             (keyup.enter)="executeRename($event.target.value)"
             (blur)="executeRename($event.target.value)"
             (keyup.escape)="revertChangesAndBlur()">
<!--      <span>*</span>-->
    </div>
    <mat-error *ngIf="titleRenameInput.errors?.forbiddenName">
      Note name must be unique
    </mat-error>
  </mat-form-field>

  <button mat-button (click)="toggleSplitView()" matTooltip="show/hide rendered note">
    <mat-icon>border_vertical</mat-icon>
  </button>
  <button mat-button (click)="closeNote()" matTooltip="close note">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-button matTooltip="show/hide rendered note" [matMenuTriggerFor]="optionsMenu">
    <mat-icon>more_vert</mat-icon>
    <mat-menu #optionsMenu="matMenu">
      <button mat-menu-item (click)="openAttachmentsDialog()" matTooltip="attachments for this note">
        <mat-icon>attachment</mat-icon>
        attachments
        <span *ngIf="this.attachedFiles?.length">({{this.attachedFiles?.length || '0'}})</span>
      </button>
      <button mat-menu-item (click)="openBackreferencesDialog()" matTooltip="backreferences">
        <mat-icon>wifi_protected_setup</mat-icon>
        backreferences
      </button>
      <button mat-menu-item (click)="deleteNote()" matTooltip="delete note">
        <mat-icon>delete_outline</mat-icon>
        delete
      </button>
    </mat-menu>
  </button>
</div>
<div id="container">
  <div id="codemirror-container"
       #cmContainer
       [class.split-state]="editorState === 'split'">
    <textarea #codemirror id="codemirror"></textarea>
  </div>
  <div id="markdown-renderer" class="space-evenly" *ngIf="editorState === 'split'" #markdown></div>
</div>
