
<style>
  #container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
  }

  h1 {
    font-size: 8vw;
    margin: 40px 0;
  }

  @media screen and (min-width: 1000px) {
    h1 {
      font-size: 80px;
    }
  }

  a {
    cursor: pointer;
  }

  #canvas {
    margin-top: calc(50% - 75px);
    /*height: 400px;*/
    /*width: 700px;*/
  }

  #title {
    margin-top: calc(50% - 50px);
  }

  a {
    text-decoration: none;
  }

  #about-title,
  #features-title {
    font-size: 40px;
  }

  #about-title {
    margin-top: 40%
  }

  #text,
  #explanation-container {
    max-width: 500px;
  }

  h3 {
    font-weight: 500;
    margin-top: 20px;
  }

  #loading-spinner {
    align-items: center;
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: space-around;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .link {
    cursor: pointer;
    color: blue;
    text-decoration: none;
  }

  .image {
    margin: 10px 30px 30px 30px;
    width: 300px;
  }

  .image-container {
    display: flex;
    justify-content: space-around;
  }
</style>

<div id="container">

  <div id="loading-spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
  </div>

  <h1 id="title">CONNECTED NOTES</h1>

  <a href="/test">Demo (read-only)</a><br>

  <a (click)="toGd()" class="link">Try the alpha version (Google Drive authorization required)</a><br>

  <div id="text">
    <p>
      Connected Notes is a tool for non-hierarchical notes and flashcards. It encourages
      usage of the <a href="https://zettelkasten.de/posts/overview/">Zettelkasten</a> method and spaced repetition,
      and is open source and free to use.
    </p>

    <p>
      Connected Notes is in alpha, so expect roughness, bugs and some missing features.
      Please report all bugs at the project's
      <a href="https://github.com/tsiki/connectednotes/issues/new">GitHub page</a>.
    </p>

    <h2>Table of contents</h2>
    <ul>
      <li>Main features</li>
      <li>Getting started</li>
      <li>Running your own instance</li>
      <li>Future work</li>
    </ul>

    <h2>Main features</h2>

    <p>
      Notes are stored in your personal cloud service, meaning they're <b>accessible from anywhere</b>, including
      mobile.
      Currently the only backend option is Google Drive, but Connected Notes is designed with interchangeable backends
      in mind and I expect more backend options to be implemented.
    </p>

    <p>
      Connected Notes supports the Zettelkasten method. This means first class support for <b>tagging</b> and
      <b>connecting notes</b> - in fact, Connected Notes doesn't use folders to organize notes, but uses the tags you've
      added to structure them (see 'getting started' below).
    </p>

    <p>
      Notes are written using <b>markdown</b> and stored as plain text markdown files.
      This means your notes aren't locked in to a proprietary format, and since
      they're stored on your personal cloud you'll always have access to them, even if this site was to shut down one
      day.
    </p>

    <p>
      Connected Notes is <b>free</b> and <b>open source</b>. The project is designed to support notes that will live a
      long time (as any note taking system should), and open sourcing is an essential part of that promise.
    </p>

    <p>
      Spaced repetition (ie. <b>flashcards</b>) has been shown to give superior results in learning tasks, not only
      when measuring the ability to recall, but also when making inferences from learned material
      (<a href="https://andymatuschak.org/prompts/Karpicke2011.pdf">source</a>). The current version of Connected Notes
      has flashcard support built-in. The support is currently quite simple but more features will appear in the future.
    </p>

<!--    <p>-->
<!--      Personal knowledge can be divided into the knowledge actively in your brain, and the knowledge you know is-->
<!--      somewhere in your notes, and which you can recall if you need to.-->
<!--    </p>-->

    <h2>Getting started</h2>

    <h3>Creating a note</h3>

    <p>
      Creating a note is as easy as clicking on the 'create note' icon (or pressing ctrl + k) and entering the name
      of the note.
      You don't need to choose which folder the note is added to, since folders don't exist - instead, organizing notes
      is based on tags (see next section). This greatly reduces the friction of creating notes and avoids having
      to think in strict categories and hierarchies
      (<a href="https://zettelkasten.de/posts/no-categories/">more</a>).
    </p>

    <h3>Tagging notes</h3>

    <p>
      Using tags is an integral part of Connected Notes. Since tags essentially replace folders,
      learning to use them is worthwhile.
      To add a tag, simply add a Twitter style hashtag anywhere to the note, like
      #this. You will then see the hashtag appear in the left side menu, and if you click on it,
      you will see all the notes that contain the tag:
    </p>
    <div class="image-container"><img class="image" src="./assets/img/tag-and-notes.jpg"></div>

    <p>
      If a note
      doesn't have any hashtags, it appears under the special 'untagged' tag. Similarly, all notes appear under 'all'.
      Also, since notes can contain multiple tags, they can also appear under multiple tags:
    </p>

    <div class="image-container"><img class="image" src="./assets/img/multiple-tags-per-note.jpg"></div>

    <p>
      Tags can be nested under each other, creating a 'tag/subtag' structure.
      This might be sensible if you have a tag which is clearly a part of some
      other tag. For example, if you have tags #texas-holdem (a popular card game) and #texas-holdem-strategies,
      you might not want to have #texas-holdem-strategies appear on the top level.
    </p>

    <p>
      This can be achieved by dragging the child tag over the parent tag:
    </p>

    <div class="image-container"><img class="image" src="./assets/img/drag-and-drop-tag.gif"></div>

    <p>
      Finally, tags can appear under multiple tags. Let's say you have tags #car-brands and #electric-cars.
      In a traditional
      folder structure you'd have to make a choice where to place #tesla, but in Connected Notes #tesla could
      appear under both tags. To achieve this, click on the three dots menu next to #tesla and choose
      the parent tags.
    </p>

    <p>
      In comparison, traditional folders are essentially
      equivalent to each note having a single tag and each tag having at most one other tag as their parent.
    </p>

    <h3>Connecting notes</h3>

    <p>
      Notes can be connected by typing two square brackets '[[' and selecting the note you want to reference from the
      autocompletion list.

      You can also directly write the name of the note [[like so]] and the note will be linked. You can then use ctrl
      + click to jump to the note. If the note doesn't exist, a new note will be created when jumping into it.
    </p>

    <h3>Flashcards</h3>

    <p>Create a new flashcard by opening a note and pressing ctrl + j. This will open a dialog where you can edit
    the front and back of the card before saving it (TODO image).</p>

    <p>By default, the flashcard is populated with the sentence your cursor is currently on. If you have selected a
    piece of text before pressing ctrl + j, that text will be prepopulated instead.</p>

    <p>To study your flashcards, click on the 'study' icon in the left menu. By default, you'll be shown all due
    flashcards you have created.</p>

    <p>Currently there's no interoperability with Anki but in the future I'd like to have a more Anki-like flashcard
      experience and allow exporting/importing.</p>

    <h2>Running your own instance</h2>

    <p>
      More details on how to set up your own instance of Connected Notes will be at the
      <a href="https://github.com/tsiki/connectednotes">GitHub page</a> once the project exits beta.
    </p>

    <h3>Caveat</h3>
    If you're planning to start your own instance, note that Google Drive files are only accessible from whitelisted
    domains, so notes created in connectednotes.net won't be accessible from someotherdomain.com. The solution is to
    copy the files and re-upload them via the new correct domain.

    <br>
    <br>
    <h2>Future work</h2>

    <p>
      Currently the code base is lacking a lot of tests and has some known issues, but as we finalize the design
      and structure the number of tests should ramp up and that of issues down.
    </p>

    <p>

    </p>


  </div>
</div>
