
<style>
  #container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
  }

  h1 {
    font-size: 8vw;
    margin: 40px 0;
  }

  @media screen and (min-width: 1200px) {
    h1 {
      font-size: 80px;
    }
  }

  a {
    cursor: pointer;
  }

  #canvas {
    margin-top: calc(50% - 75px);
    /*height: 400px;*/
    /*width: 700px;*/
  }

  #title {
    margin-top: calc(50% - 50px);
  }

  a {
    text-decoration: none;
  }

  #about-title,
  #features-title {
    font-size: 40px;
  }

  #about-title {
    margin-top: 40%
  }

  #explanation-container {
    max-width: 500px;
  }

  h3 {
    font-weight: 500;
    margin-top: 20px;
  }

  #loading-spinner {
    align-items: center;
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: space-around;
    position: absolute;
    height: 100%;
    width: 100%;
  }
</style>

<div id="container">

<!--  <canvas id="canvas" #canvas width="1000"></canvas>-->
  <div id="loading-spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
  </div>

  <h1 id="title">CONNECTED NOTES</h1>

  <h2>Modern note taking tool based on Zettelkasten. Fully <a href="https://github.com/tsiki/connectednotes" target="_blank">open source.</a>
  Still in alpha with frequent changes, don't use for anything serious.</h2>

<!--  This is a test version, please don't use it for any serious note taking just yet. I'd however love to hear some-->
<!--  feedback.-->

  <a (click)="toGd()">Try the Google Drive -backed version here.</a>

  <div id="explanation-container">
    <h2 id="about-title">What is Connected Notes</h2>
    It's an open source note taking app based on a modern version of the Zettelkasten system.<br><br>

    We all study to be able to use the information we study later. For this, we need to take the notes we've written
    before and connect them to each other. This is where Zettelkasten comes in.<br><br>

    The notes are stored in your Google Drive (more cloud storage options coming later).<br><br>

    <h2 id="features-title">Features</h2>

    <h3>Privacy</h3>
    We don’t store your notes - we simply connect to your Google Drive (more cloud services are on the way) and store
    them there. What you write is between your cloud storage and you.

    <h3>Everywhere</h3>
    Access your notes from phone or laptop. Notes are synchronized across devices.

    <h3>Reliability</h3>
    We don’t want you to worry about losing your notes if a fledgling startup goes under or a domain name expires -
    your notes are stored where you have complete control over them.

    <h3>No lock-in</h3>
    Everything is stored as markdown files, in plain text. Don't like the service? Just download the notes from your
    Google Drive and transfer them to another service.

    <h3>Open source</h3>
    Any note service should be in it for the long haul. In our mind, being open source is a necessary part of that.
  </div>
</div>
