
<style>
  #container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
  }

  h1 {
    font-size: 80px;
    margin: 40px 0;
  }

  a {
    cursor: pointer;
  }

</style>

<div id="container">

  <h1>Connected Notes</h1>

  <h4>Modern note taking tool based on Zettelkasten. Fully open source.</h4>

  This is a test version, please don't use it for any serious note taking just yet. I'd however love to hear some
  feedback.

  <a (click)="toGd()">Try the Google Drive -backed version here.</a>
</div>
