@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: "Roboto", sans-serif; }

:root {
  --editor-font-weight: 400;
  --editor-text-font-size: 14px;
  --primary-text-color: #000;
  --low-contrast-text-color: #4d4d4d;
  --primary-background-color: #fff;
  --secondary-background-color: #fafafa;
  --warning-background-color: #ffed61;
  --icons-menu-background-color: #2e2e2e;
  --icons-menu-color: #d1d1d1;
  --navigation-border-color: #d1d1d1;
  --highlight-color: #ffed61;
  --low-contrast-highlight-color: #ffffb3;
  --selected-note-color: rgb(224, 224, 224);
  --top-bar-height: 50px;
  --gutter-color: #fafafa;
  --save-status-indicator-unsaved-changes-color: #eb0212;
  --save-status-indicator-saving-color: #d1d13d;
  --save-status-indicator-everything-saved-color: initial;
  --nested-tag-gutter-color: #c9c9c9;
   /* Text styles */
  --h1-font-size: 22px;
  --h2-font-size: 18px;
  --h3-font-size: 15px;
  --h4-font-size: 14px;
  --h5-font-size: 14px;
  --h6-font-size: 14px;
  --h1-font-weight: 900;
  --h2-font-weight: 700;
  --h3-font-weight: 500;
  --h4-font-weight: 500;
  --h5-font-weight: 500;
  --h6-font-weight: 500;
  --header-text-color: #000478;
  --graph-highlighted-edge-color: #ba68c8;
  --graph-highlighted-node-color: #ba68c8;
}

.dark-theme {
  --primary-text-color: rgb(209, 209, 209);
  --low-contrast-text-color: #bfbfbf;
  --primary-background-color: #2e2e2e;
  --secondary-background-color: #1c1c1c;
  --highlight-color: #bd9400;
  --warning-background-color: #bd9400;
  --low-contrast-highlight-color: #666600;
  --selected-note-color: rgb(50, 50, 50);
  --gutter-color: #1c1c1c;
  --save-status-indicator-unsaved-changes-color: #800000;
  --save-status-indicator-saving-color: #808000;
  --save-status-indicator-everything-saved-color: initial;
  --header-text-color: rgb(209, 209, 209);
  --nested-tag-gutter-color: #4d4d4d;
  --graph-highlighted-edge-color: #8BC34A;
  --graph-highlighted-node-color: #8BC34A;
 }
