<style>
  :host {
    font-weight: 300;
  }

  #icon-menu > * {
    align-items: stretch;
    flex-direction: column;
    width: 40px;
  }

  #note-list-container ol {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
  }

  button {
    outline: none;
  }

  #context-menu > mat-card {
    padding: 0;
  }

</style>

<div #droplist
     (cdkDropListDropped)="dragEnded($event)"
     [cdkDropListSortingDisabled]="true"
     cdkDropList
     id="note-list-container">
  <cn-tag-group (noteDraggedOverTag)="onNoteDraggedOverTag($event)"
                (tagDraggedOverOtherTag)="onTagDraggedOverOtherTag($event)"
                [sortDirection]="sortDirection"
                [tag]="ROOT_TAG_NAME"
                isRoot="true">
  </cn-tag-group>
</div>
